{#
/**
 * @file top-isues-block.html.twig
 * Default theme implementation to present top issues block's data.
 *
 * This template is used when a top issues block is placed.
 *
 *
 * Available variables:
 * - project: Machine name of the project which you want to see top issues.
 * - items: Number of issues.
 * - data: 
 */
#}

<div>
    <h2>Top Issues for {{project_name}}</h2>
    <table>
        <thead>
            <th>Title</th>
            <th>URL</th>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{item['title']}}</td>
                <td><a href="{{item['url']}}">Link</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
