{#
/**
 * @file top-issues-page.html.twig
 * Default theme implementation to present Slider data.
 *
 * This template is used when visiting /slider route.
 *
 *
 * Available variables:
 * - block: rendered top issues block.
 *
 */
#}
<div>{{ block }}</div>
